db_data/**/*
./db_data/
./db_data/**/*
/pgadmin-data/**/*
./pgadmin-data/**/*
./pgadmin-data/*
/pgadmin-data/sessions/**/*
./pgadmin-data/sessions/**/*
./pgadmin-data/sessions/**/*
./ruby-lsp/**/*
./.moon/cache
./.moon/cache/**
.DS_Store
.env
